{% extends 'base.html.twig' %}

{% block title %}Hello CALPENAController!{% endblock %}

{% block body %}


  
<div class="example-wrapper">

    <center><h1>Bienvenue sur le site connecté à l'internet mondiale</h1></center>
    </br>
    </br>
    <form method="post" action="traitement.php">
   <p>
       <label for="pseudo">Login :</label>
       <input type="text" name="pseudo" id="pseudo" />
       
       <br />
       <label for="pass">Password :</label>
       <input type="password" name="pass" id="pass" />
       <button type="button" class="btn btn-outline-primary">Se connecter</button>
   </p>
</form>

</div>
{% endblock %}
