{% extends 'base.html.twig' %}

{% block title %}Hello CALPENAController!{% endblock %}

{% block body %}


  


    <center><h1>Bienvenue sur le site connecté à l'internet mondiale</h1></center>
    </br>
    </br>
    <form method="post" action="calpena/loginconfirm">
   <p>
       <label for="Login">Login</label>
       <input type="text" name="Login" id="Login"  />
       
       <br />
       <label for="Password">Password</label>
       <input type="password" name="Password" id="Password" />
       <br>
       <button "type="button" class="btn btn-outline-info">Se connecter</button>
       
   </p>


{% endblock %}
