{% extends 'base.html.twig' %}

{% block body %}

<table>
    <thead>
        <th> ID </th> <th> Nom </th> <th> Supprimer</th>
    </thead>
    <tbody>
        {% for un_utilisateur in lst_utilisateurs %}
        <tr><td>
            {{ un_utilisateur.id }}
        </td><td>
            {{ un_utilisateur.Login }}
        </td><td>
            <form action="/supprimerUtilisateur" method="POST">
                <a href="/supprimerUtilisateur/{{ un_utilisateur.id }}" target="_blank"> <input type="button" class="btn btn-danger" value="Supprimer"> </a>
            </form>
        </td></tr>
        {% endfor %}
    </tbody>
</table>
<br>
{% endblock %}